<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-blog-title></app-blog-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
    cardTitle="Saiu a nova versão do Angular!"
    cardDescription="Lorem Ipsum is simply dummy text of the printing.Lorem Ipsum is simply dummy text of the printing."
    ></app-big-card>
  </div>
  <div class="articles__othres">
    <app-small-card
      photoCover="https://png.pngtree.com/png-vector/20210604/ourmid/pngtree-gray-network-placeholder-png-image_3416659.jpg"
      cardTitle="Saiu a nova versão do Angular!"
    ></app-small-card>
    <app-small-card
      photoCover="https://png.pngtree.com/png-vector/20210604/ourmid/pngtree-gray-network-placeholder-png-image_3416659.jpg"
      cardTitle="Saiu a nova versão do Angular!"
    ></app-small-card>
    <app-small-card
      photoCover="https://png.pngtree.com/png-vector/20210604/ourmid/pngtree-gray-network-placeholder-png-image_3416659.jpg"
      cardTitle="Saiu a nova versão do Angular!"
    ></app-small-card>
  </div>
</div>
