.container__blog-title{
  color:white;
}

.container__blog-title > h1 {
  font-family: 'Segoe UI';
  margin: 15px 0 15px 0;
  font-size: 135px;
  display: flex;
  justify-content: center;
}

.container__blog-title > span {
  font-family: 'Segoe UI';
  color: rgb(231, 228, 228);
  display: flex;
  justify-content: center;
}

.container__blog-title > hr {
  margin: 20px 0 5px 0;
}
